body {
  margin: 0;
}

header {
  background-image: url(../top.jpg);
  /* background-position: center; */
  background-size: cover;
  height: 800px;
  font-family: serif;
  text-align: center;
  font-weight: bold;
}

header h1 {
  margin: 0;
  font-size: 40px;
  padding-top: 100px;
}

header p {
  font-size: 20px;
  color: black;
}

nav {
  height: 40px;
  background: whitesmoke;
  line-height: 40px;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
}

nav ul {
  margin: 0;
  padding: 0 auto;
}

nav li {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 15%;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: serif;
  font-size: 8px;
}

ul {
  list-style: none;
  padding: 0;
}
 nav {
  height: 40px;
  /* background: rgb(51, 29, 7); */
  background: whitesmoke;
  line-height: 40px;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
}

nav ul {
  margin: 0;
  padding: 0 auto;
}

nav li {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 15.4%;
}

nav a {
  /* color: blanchedalmond; */
  color: black;
  text-decoration: none;
  font-family: serif;
  
}

ul {
  list-style: none;
} 


.btn {
  background: white;
  color: black;
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 50%;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.8;
}

.container img {
  width: 360px;
  height: 225px;
}


.container {
  font-family: serif;
  font-weight: normal;
  text-align: center;
}

.container section {
  /* display: flex;
  width: 800px;
  margin: 20px auto;
  justify-content: space-between; */
  margin: 20px auto;
  text-align: center;
  width: 360px;
}

.container section:nth-child(even) {
  flex-direction: row-reverse;
}


.container .icon {
  width: 360px;
  margin: auto;
}

.container .info {
  width: 360px;
  margin: auto;
}

.container h1 {
  text-align: center;
  font-size: 30px;
}


.container h2 {
  font-size: 20px;
}

.members  {
  font-family: serif;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  background: whitesmoke;
}

.members h1 {
  padding-top: 69px;
}

.members h2 {
  margin: 10px;
  font-size: 20px;
}
.members p {
  font-size: 15px;
  width: 350px;
  margin: 15px auto;
}

.members img {
  width: 365px;
  height: 225px;
  border-radius: 5px;
}

.members ul {
  margin: 0;
  padding: 0;
}


.members li {
  list-style: none;
}

.call-to-action {
  font-family: serif;
  text-align: center;
  font-size: 13px;
}


.call-to-action .btn {
  background: rgb(205, 232, 238);
}

.call-to-action h1 {
  margin: 0;
  padding: 50px 0 10px;
}

.call-to-enter {
  font-family: serif;
  text-align: center;
  padding-bottom: 34px;
  font-size: 13px;
}


.call-to-enter .btn {
  background: rgb(205, 232, 238);
}



.call-to-enter h1 {
  margin: 0;
  padding-top: 160px;
}

.call-to-enter p {
  font-size: 12px;
  margin: 5px;
}


.entry {
  background-image: url(../kokuban1.jpg);
  background-size: cover;
  height: 700px;
}

.entry h1 {
  text-align: center;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  padding-top: 90px;
  margin: 0;
}

.entry h1, .entry p {
  color: white;
}

footer {
  background: grey;
  color: azure;
  text-align: center;
}


@media(min-width :900px) {
  
  nav {
    height: 40px;
    /* background: rgb(51, 29, 7); */
    background: whitesmoke;
    line-height: 40px;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0 auto;
  }
  
  nav li {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 15.4%;
  }
  
  nav a {
    /* color: blanchedalmond; */
    color: black;
    text-decoration: none;
    font-family: serif;
    font-size: 15px;
  }
  
  ul {
    list-style: none;
  }
  
  .container img {
    width: 400px;
    height: 250px;
  }
  
  
  .container {
    font-family: serif;
    font-weight: normal;
    text-align: center;
  }
  
  .container section {
    display: flex;
    width: 900px;
    margin: 20px auto;
    justify-content: space-between;
  }
  
  .container section:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  
  .container .icon {
    width: 40%;
  }
  
  .container .info {
    width: 40%;
  }
  
  .container h1 {
    text-align: center;
    font-size: 40px;
  }
  
  
  .container h2 {
    font-size: 30px;
  }
  
  .members  {
    font-family: serif;
    font-weight: normal;
    text-align: center;
    font-size: 25px;
  }
  
  .members h1 {
    padding-top: 69px;
  }
  
  .members h2 {
    margin: 10px;
    font-size: 25px;
  }
  .members p {
    font-size: 15px;
    width: 350px;
    margin: 20px auto;
  }
  
  .members img {
    width: 400px;
    height: 250px;
    border-radius: 8px;
  }
  
  .members ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  
  
  .members li {
    list-style: none;
  }
  
  .call-to-action {
    font-family: serif;
    text-align: center;
  }
  
  .call-to-action {
    font-size: 20px;
  }
  
  
  .call-to-action .btn {
    background: rgb(205, 232, 238);
  }
  
  .call-to-action h1 {
    margin: 0;
    padding: 50px 0 10px;
  }
  
  .call-to-enter {
    font-family: serif;
    text-align: center;
    padding-bottom: 34px;
  }
  
  .call-to-enter {
    font-size: 20px;
  }
  
  
  .call-to-enter .btn {
    background: rgb(205, 232, 238);
  }
  
  
  
  .call-to-enter h1 {
    margin: 0;
    padding-top: 160px;
  }
  
  .call-to-enter p {
    font-size: 17px;
    margin: 5px;
  }
  
  
  .entry {
    background-image: url(../kokuban1.jpg);
    background-size: cover;
    height: 700px;
  }
  
  .entry h1 {
    text-align: center;
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
    padding-top: 90px;
    margin: 0;
  }
  
  .entry h1, .entry p {
    color: white;
  }
}